
.nav{
    background: #5F391F;
    background: linear-gradient(180deg, rgba(95, 57, 31, 1) 15%, rgba(197, 118, 64, 1) 100%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 2rem;
    padding: 0 1rem;
    width:100%;
    height: inherit;
    
 
}
.site-title {
    font-size: 2rem;
}
.nav ul{

    padding: 0;
    margin:0;
    list-style: none;
    display: flex;
    gap: 1rem;
}
.nav a{
    color: inherit;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem;
    display: block;
}
.nav a:hover{
    color:#C57640;
}
.nav a.active{
    color: #F9F3F0;
    opacity: 50%;
}
